/* all the imports shit, can't you read?? */
/* @import url("https://blade04208.github.io/ddex4/src/bubbles.css"); */
/* @import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css"); */
/* multitweaks */ @import url("https://abbie.github.io/discord-css/import.css");
@import url("https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css");
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import url("https://dablulite.github.io/css-snippets/AccountSettingsRefresh/import.css");
@import url("https://gist.githubusercontent.com/amozeo/22bba69967d8be82bb4e4766c911cd87/raw/3744068b866a11abd5cd261769b9fc98ed087513/snippet.css");
@import url("https://nspc911.github.io/themes/vencord/BlurryBackdrop.theme.css");
/* subtle message options */ @import url("https://raw.githubusercontent.com/HeroOfDungeon/snippets/refs/heads/main/More%20Animations.css");
/* @import url("https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/PopoutsRevamped.css"); */
/*@import url("https://blade04208.github.io/css/aerotitlebuttons.css");*/
/* @import url("https://raw.githubusercontent.com/Augenbl1ck/compact-user-area/refs/heads/main/user-area-spotify-control.css"); */
@import url("https://raw.githubusercontent.com/BurningStoneDiscord/DiscordHighlightGradient/refs/heads/main/MentionReplyingFancyGradient.css");

/* ---------------------------------------------------------------------- */

/* shiggy load */
  .content_a2f514 {
      display: flex;
      flex-direction: column;
      > .spinner_a2f514 { display: none }
      &:before {
          display: block;
          height: 128px;
          position: relative;
          content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);
          image-rendering: pixelated;
          align-content: center;
          scale: 3.125;
          margin-bottom: 96px;
      }
  }

/* ---------------------------------------------------------------------- */

/* Animated Account popout */
/*
  .panels_c48ade {
    width: 62px!important;
  display: flex!important;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s;
    z-index: 50000;
    pointer-events: all;
    border: 1px solid var(--border-subtle)!important;
  &:has(.container_e131a9) {
    background-color: var(--notice-background-positive);
    border: 1px solid var(--border-normal);
  }
  }

  .wrapper_e131a9 {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
  }
  .panels_c48ade:hover {
    width: 100%!important;
    width: 300px!important;
    height: auto!important;
    .wrapper_e131a9 {
      height: auto!important;
    }
  }
  .sidebar_c48ade {
    overflow: visible!important;
  }
  .container__2637a {
    padding-bottom: 0px!important;
  }
  .scroller__99e7c {
    margin-bottom: 0px!important;
  }

  .bottom__7aaec {
    bottom: 0px!important;
  }

/* ---------------------------------------------------------------------- */

/* Titlebar tweak (actually uses the space for shit */
  .title_c38106 {
    display: none;
  }

  .title_f75fb0 {
    padding: 0px !important;
    padding-left: 12px !important;
    padding-right: 210px !important;
    position: fixed;
    left: 0px;
    top: 0px;
    background: transparent !important;
    height: var(--custom-app-top-bar-height) !important;
    min-height: 0px;
    border: none !important;
    width: calc(100vw);
    z-index: 0;
  }

  .followButton_f75fb0,
  .topicClickTarget__6ec1a {
    -webkit-app-region: no-drag !important;
  }

  .base_c48ade:has(.bar_c38106[data-windows="true"]) .title_f75fb0 {
    width: calc(100vw - 240px)!important;
  }

  .children__9293f::after {
    background: linear-gradient(to right, transparent 0, transparent 100%)!important;
  }
  .topic__6ec1a {
    flex: none;
  }

/* ---------------------------------------------------------------------- */

/* compact context popup */
  /* reduce context menu padding */
  .layer_da8173 > .menu_c1e9c4 {
      min-width: 0;
      width: 171px !important;
      .scroller_c1e9c4 {
          /* border margin */
          margin: -4px;
      }
      .separator_c1e9c4 {
          /* separator margin */
          margin: 1px 8px !important;
      }
      .wrapper_f563df {
          /* reactions margin */
          padding: 0px !important;
          margin: 1px;
      }
      .item_c1e9c4 {
          /* min-height is 32px as default, change value for desired look */
          min-height: 0;
          /* padding is 4px 8px as default, change value for desired look */
          padding: 4px 8px;
      }
      .icon_f563df {
          /* reactions size */
          width: 18px;
      }
      .button_f563df {
          /* reactions border size */
          width: 36px;
          height: 36px;
          border-radius: 4px;
      }
      .icon_c1e9c4 {
          /* icons size */
          width: 18px;
          height: 18px;
      }
      .iconContainer_c1e9c4 {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }

/* ---------------------------------------------------------------------- */

/* custom people are typing message */
  .typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
    font-size: 0;
    height: 16px;
    >strong {
      font-size: 12px;
      &::after {
        color: var(--text-secondary);
        font-weight: 500;
      }
      &:last-child::after {
        content: " is spitting bullshit...";
      }
      &:last-child:not(:first-child)::after {
        content: " are speaking out their ass...";
      }
      &:nth-last-child(2)::after {
        content: " and this fucker "
      }
      &:nth-last-child(3)::after {
        content: ", ";
      }
    }
    &:not(:has(>strong))::after {
      font-size: 12px;
      content: "Several people are fucking liars...";
    }
  }

/* ---------------------------------------------------------------------- */

/* Clan Tags but cooler */
  .chipletContainerInner__10651 > .text__10651 > .tagText__10651 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    will-change: max-width, margin;
    transition: max-width 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
                margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .chipletContainerInner__10651:hover > .text__10651 > .tagText__10651 {
    max-width: 20ch;
    margin-right: .3ch;
    transition-delay: 0.08s;
  }
  .chipletContainerInner__10651 > .text__10651 > img.badge__10651 {
    margin-right: 0;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
                margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .chipletContainerInner__10651:hover > span > img.badge__10651 {
    transform: rotateZ(360deg);
    margin-right: .6ch;
    transition-delay: 0.08s;
  }
  .chipletContainerInner__10651 {
    position: relative;
    display: inline-block;
    background-color: var(--background-mod-subtle);
    padding: 0 2px;
    margin-left: 0;
  }
  .chipletContainerInner__10651:hover ~ .tagText__10651 {
    display: block;
    clear: both;
    margin-top: .5ch;
  }

/* ---------------------------------------------------------------------- */

/* Remove the weird reacting to statuses shit */
  [class*='statusPopover'], [class*='avatarPopover__'], [class*='activityPopover__'] {display:none;}
  .layerContainer_da8173 .positionLayer__08434 {
      width: 100vw;
      height: 100vh !important;
      left: 0px;
      bottom: 0px !important;
      align-items: center !important;
      align-content: center !important;
      background-color: rgba(0, 0, 0, 0.5);

      .drawerSizingWrapper__08434 {
          justify-self: center !important;
          align-self: center !important;
          right: 50vw !important;
          left: 50vw !important;
          top: 50vh !important;
          bottom: 50vh !important;
          height: 90vh;
          width: 90vw !important;
      }
  }

/* ---------------------------------------------------------------------- */

/* multitweaks */

:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: true;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: true;
    --\\--compact-server-list: true;

    --\\--hide-nameplates: false;
    --\\--hide-guild-tags: false;
    --\\--hide-profile-effects: false;
    --\\--hide-avatar-decorations: false;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: true;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: true;
    --\\--hide-nitro-button: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: false;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;
    --animation-speed: 0.3s;
}

/* ---------------------------------------------------------------------- */

/* fixes the weird ass folder interior borders */
  /* .icon_f34534.guildIcon__48112 { border-radius: 50% !important } */

/* ---------------------------------------------------------------------- */

/* resizes the default account info card */
  /* .visual-refresh section.panels_c48ade {
    left: calc(var(--custom-guild-list-width) + var(--space-xs));
    width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
    box-sizing: content-box;

    .actionButtons_e131a9 button {
      padding: 0;
    }


      .container__37e49 {
        padding: var(--space-xxs);
        gap: var(--space-4);
        >.buttons__37e49 {
          gap: 0;
        }
        >.avatarWrapper__37e49 {
          min-width: 32px !important;
          >.avatar__37e49 {
            scale: 0.9;
          }
        }
      } 
    }
    nav.guilds_c48ade {
      margin-bottom: 0 !important;
    }
    .sidebar_c48ade:after {
      display: none;
    }


       .visual-refresh [style$="grid-area: betterFoldersSidebar;"]~section.panels_c48ade {
        left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
        width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
      }
 */

/* ---------------------------------------------------------------------- */

/* Make Room for mutuals, fatass */
  [class^=focusLock]:has([class*=userProfileOuter])
  {
      --custom-user-profile-width-full-size: min-content !important;
      min-width: 600px !important;
  }
[aria-label="Add Reaction"] {
  order: -1;
}
[aria-label^="Click to react with"] {
  order: -2;
}

/* ---------------------------------------------------------------------- */

/*Auto Hide ServerList https://discord.com/channels/1015060230222131221/1028106818368589824/1393542987731963995*/
.guilds_c48ade {
  position: fixed;
  z-index: 101;
  height: 100vh;
  overflow: visible;
  width: 100vw;
  background-color: rgba(7, 7, 9, 0)!important;
  pointer-events: none;
  transition: background-color 0.3s;
}

.guilds_c48ade:has(.itemsContainer_ef3116:hover) {
  background-color: rgba(7, 7, 9, 0.8)!important;
  pointer-events: all;
}

.itemsContainer_ef3116 {
  position: fixed;
  left: -55.993px;
  transition: all 0.3s;
  pointer-events: all;
  background-color: rgb(7, 7, 9)!important;
  border-right: 0px solid var(--border-subtle);
  box-shadow: -100px 0px 20px rgba(7, 7, 9, 0);
}

.itemsContainer_ef3116:hover {
  left: 0px;
  transition: all 0.3s;
  border-right: 1px solid var(--border-subtle);
  box-shadow: 0px 0px 20px rgba(7, 7, 9, 1);
}

/* ---------------------------------------------------------------------- */

/* Read all button */
.vc-ranb-button {
  margin: 0px;
  left: 7.5px;
  display: flex;
  position: relative;
  width: calc(100% -24px);
  height: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
  padding: 2px;
  background-color: rgba(151, 151, 159, 0.08);
  border: none;
  border-radius: 12px;

  .contents__201d5 {
    font-size: 0px;
  }

  .contents__201d5::after {
    content: "";
    font-size: 18px;
    width: 24px;
    height: 24px;
    position: absolute;
    color: transparent;
    top: 7px;
    left: 8.5px;
    background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23D8D8DB%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--brand-500);

    .contents__201d5::after {
      background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    }
  }
}


/* ---------------------------------------------------------------------- */

/* Messages Popping out */
[data-list-item-id*="message"],
[class*="messageListItem"],
[id*="message-"],
li[class*="messageListItem"] {
    position: relative;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
[data-list-item-id*="message"]:hover,
[class*="messageListItem"]:hover,
li[class*="messageListItem"]:hover {
    transform: translateX(6px);
}

/* ---------------------------------------------------------------------- */

/*  */